<h1><%= @task.title %></h1>

<%= link_to "Edit this task", edit_path %>

<p><%= @task.details %></p>


  <p ><input type="checkbox" <%= @task.completed? ? "checked" : "" %> > <%= @task.completed? ? "This task has been completed" : "This task has not been completed"  %> </p>

<%= link_to "Back to list", tasks_path %>
